body {
    @font-face {
        font-family: 'Viner Hand ITC';
        /* src: url(fonts/Aguante-Regular.otf); */
        font-weight: normal;
        font-style: normal;
    }
}



/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: crimson; */