h2 {
    color: aqua;
}

div {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
}


.grihBlok{
    color:dodgerblue;
}

#newBlok {
    color: yellow;
}














