h2 {
    color: aqua;
}

/* div {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
}


.greehBlok{
    color:dodgerblue;
}

#newBlok{
    color: yellow;
} */


a:link {
    color: rgb(12, 166, 35)
    text-decoration: none;
}


a:link {
    color: rgb(12, 166, 35)
    text-decoration: none;
}










